<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.b_report.B_reportMapper">

<!-- 신고 -->
   <!--  //게시글 신고 된 댓글 전체 가져오기--> 
	<select id="getAllB_reportList" resultType="com.project.domain.B_reportVO">
	     SELECT * FROM b_report_tbl
	</select>
	
	
	 
	
	<select id="getReportList" resultType="com.project.domain.B_reportVO">
		SELECT * FROM b_report_tbl WHERE rno = #{rno} ORDER BY r_reno DESC
	</select>
	
	<select id="getReport" resultType="com.project.domain.B_reportVO">
		SELECT * FROM b_report_tbl WHERE b_reno = #{B_reno}
	</select>
	
	<insert id="insertReport">
		INSERT INTO b_report_tbl(b_reno, bno, reason, content) VALUES
						(b_report_num.nextval, #{bno}, #{reason}, #{content})
	</insert>
	
	<update id="updateReport">
		UPDATE b_report_tbl SET reason = #{reason}, content = #{content} WHERE b_reno = #{b_reno}
	</update>
	
	<delete id="deleteReport">
		DELETE FROM b_report_tbl WHERE b_reno = #{b_reno}
	</delete>
	
	<delete id="deleteALLReport">
		DELETE FROM b_report_tbl WHERE bno = #{bno}
	</delete>
</mapper>