<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.notify.NotifyMapper">

    <select id="getRecentList" resultType="com.project.domain.NotifyVO">
		SELECT * FROM notify_tbl where regdate 
			BETWEEN TO_DATE (sysdate-7)
				AND TO_DATE (sysdate) + 0.9999 ORDER BY regdate DESC
	</select>
	
   <select id="getList" resultType="com.project.domain.NotifyVO">
		SELECT * FROM notify_tbl ORDER BY regdate DESC
	</select>
	
	<insert id="insert">
		INSERT INTO notify_tbl( nno,title,content) VALUES
						(notify_num.nextval,  #{title}, #{content})
	</insert>
	
	<select id="select" resultType="com.project.domain.NotifyVO">
		SELECT * FROM notify_tbl WHERE nno = #{nno}
	</select>
	
	<update id="update">
		UPDATE notify_tbl SET title = #{title}, content = #{content} WHERE nno = #{nno}
	</update>
	
	<delete id="delete">
		DELETE FROM notify_tbl WHERE nno = #{nno}
	</delete>
</mapper>