<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.BoardAttachMapper">

	<insert id="insert">
		INSERT INTO image (uuid, uploadpath, filename, filetype, bno)
			VALUES(#{uuid}, #{uploadpath}, #{filename}, #{filetype}, #{bno})
	</insert>
	
	<delete id="delete">
		DELETE FROM image WHERE uuid = #{uuid}
	</delete>
	
	<select id="findByBno" resultType="com.project.domain.BoardAttachVO">
		SELECT * FROM image WHERE bno = #{bno}
	</select>
</mapper>