<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.category.CategoryMapper">
	
<!-- 카테고리 -->
	<resultMap type="com.project.domain.CategoryVO" id="categoryMap">
		<result property="cno" column="cno" />
		<result property="c_class" column="class" />
		<result property="ward" column="ward" />
	</resultMap>

	<select id="getCategoryList" resultMap="categoryMap">
		SELECT * FROM category_tbl ORDER BY cno ASC
	</select>
	
	<select id="getCategory" resultMap="categoryMap">
		SELECT * FROM category_tbl WHERE cno = #{cno}
	</select>
	
	<insert id="insertCategory">
		INSERT INTO category_tbl VALUES (category_num.nextval, #{c_class}, #{ward})
	</insert>
	
	<update id="updateCategory">
		UPDATE category_tbl SET class=#{c_class}, ward=#{ward} WHERE cno=#{cno}
	</update>
	
	<delete id="deleteCategory">
		 DELETE FROM category_tbl WHERE cno = #{cno}
	</delete>
</mapper>