<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.menu.MenuMapper">
	<resultMap type="com.project.domain.PayVO" id="payMap">
		<id property="pno" column="pno" />
		<result property="mno" column="mno" />
		<result property="u_id" column="u_id" />
		<result property="merchant_uid" column="merchant_uid" />
		<result property="regdate" column="regdate" />
		<collection property="menuList" resultMap="menuMap" />
	</resultMap>
	
	<resultMap type="com.project.domain.MenuVO" id="menuMap">
		<result property="mno" column="mno" />
		<result property="stno" column="stno" />
		<result property="menuName" column="menuName" />
		<result property="amount" column="amount" />
		<result property="represent" column="represent" />
	</resultMap>
	
<!-- 메뉴 -->
	<select id="getMenuList" resultMap="menuMap">
		SELECT * FROM menu_tbl WHERE stno = #{stno} ORDER BY mno DESC
	</select>
	
	<select id="getMenu" resultMap="menuMap">
		SELECT * FROM menu_tbl WHERE mno = #{mno}
	</select>
	
	<insert id="insertMenu">
		INSERT INTO menu_tbl (mno, stno, menuName, amount, represent) VALUES (menu_num.nextval, #{stno}, #{menuName}, #{amount}, #{represent})
	</insert>
	
	<update id="updateMenu">
		UPDATE menu_tbl SET menuName=#{menuName}, amount=#{amount}, represent=#{represent} WHERE mno=#{mno}
	</update>
	
	<delete id="deleteMenu">
		 DELETE FROM menu_tbl WHERE mno = #{mno}
	</delete>
	
	<update id="insertMenuList" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="item" separator=" ">
			INTO menu_tbl (mno, stno, menuName, amount, represent) VALUES (menu_num.nextval, #{stno}, #{menuName}, #{amount}, #{represent})
		</foreach>
		SELECT * FROM DUAL
	</update>
	
<!-- 결제 -->
	<insert id="insertPay">
		INSERT INTO pay_tbl(pno, mno, u_id, merchant_uid, regdate)
				VALUE (pay_num.nextval, #{mno}, #{u_id}, #{merchant_uid}, SYSDATE)
	</insert>
</mapper>